
.marketing,
.search-page,
.travel-app,
.map,
.photo-gallery,
.calculator {
  width: 100%;
}


body {
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

.main-header {
  background: #f8f8f8;
  text-align: center;
  padding-bottom: 20px;
}

.main-nav li {
  background: #fff;
  text-transform: uppercase;
  padding: 20px;
}

.main-nav a {
  display: block;
}

ul {
  list-style-type: none;
  line-height: 1.6;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

.main-header a {
  text-decoration: none;
}

.phone-email {
  padding-left: 20px;
}


.contact {
  text-transform: uppercase;
  padding-top: 20px;
}

.main-footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-text {
  padding-left: 20px;
}

#contact {
  clear: both;
}

.footer-nav a {
  padding: 20px;
}

.footer-nav {
  display: none;
}


/* --- Media Queries --- */

@media (min-width: 768px) {
  .main-nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .headline {
		float: left;
		text-align: justify;
		padding-right: 20px;
		padding-left: 20px;
		width: 50%;
	}

  .container {
		margin: 0 auto;
	}


	.col {
		float: left;
		width: 50%;
  }

	.backtotop {
		display: none;
	}

  .footer-nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
  }

}


@media (min-width: 1024px) {
	.container {
		width: 90%;
		max-width: 1150px;
	}

	.contact {
		width: 90%;
}

	.col {
		width: 33%;
	}
}
